.header {
    display: flex;
    justify-content: center;
    padding-left: 15px;
}
.logo {
    max-width: 30%;
}

.row {
    margin: auto;
    display: flex;
    width: 600px;
    height: 100px;
    padding-left: 86px;
    border: none;
}

.letter-div {
    background-color: #1e76b6;
    background-image: null;
    background-size: null;
    border-top: 3px;
    border-color: white;
    border-style: solid;
    width: 100px;
    height: 100px;
}

.submit-div {
    width: 100px;
    height: 100px;
    background: url("images/submit.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}

.submit-div:hover {
    background: url("images/submithover.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}

.submit-div:active {
    background: url("images/submitactive.png");
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center;
}

.letter {
    border: none;
    background: none;
    text-align: center;
    text-transform: uppercase;
    color: white;   
    font-size: 45px;
    font-weight: bold;
    width: 100px;
    height: 100px;
}
.letter:focus {
    outline: none;
}

::placeholder {
    color: white;
}

.reset-container {
    display:flex;
    justify-content: center;
}

.reset {
    margin-top: 25px;
    margin-left: 15px;
    border: none;
    background-color: #1e76b6;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    height: 60px;
    width: 100px;
}

.reset:hover {
    background-color: #e12f2f;
}

.reset:active {
    background-color: #f3dc36;
}

.reset:focus {
    outline: none;
}